
.edteach-nav{
    font-size: 20px;
    font-weight: 500;
    color: darkgray;
}
.menu-btn{
    color: #289BDE;
    border: 1px solid #289BDE;
    font-size: 20px;
    font-weight: 500;
}
.carousel-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-caption{
    bottom: 150px;
    padding-right: 100px;
    padding-left: 100px;
}
.slider-heading{
    font-size: 60px;
    font-weight: 600;
}
.slider-text{
    font-size: 18px;
}
.btn-slider{
    background-color: #289BDE;
    color: #ffffff;
    font-size: 26px;
    font-weight: 500;
}
.course-price{
    color: #289BDE;
    font-weight: 700;
}
.course-btn{
    background-color: #289BDE;
    font-size: 20px;
    font-weight: 500;
}
.student-info{
    background-color: #F4FAFD;
}
.student-heading h1 {
    font-size: 46px;
    font-weight: 700;
   
}
.student-heading p{
    color: gray;
    font-size: 18px;
    font-weight: 500;
}
.student-rating h1{
    font-size: 46px;
    font-weight: 700;
}
.student-rating p{
    font-size: 22px;
    font-weight: 500;
    color: gray;
}

.join-bg{
    background-color: #289BDE;
}
.join-info h1{
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;
}
.join-info p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
.join-btn{
    background-color: #ffffff;
    color: #289BDE;
    font-size: 26px;
    font-weight: 500;
}
.student-btn{
    background-color: #289BDE;
    color: #ffffff;
    font-size: 26px;
    font-weight: 500;
}